/* init */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle !important;
}
.event-list>tbody>tr:first-child>td{border: none;}
.event-list>tbody>tr>td:nth-child(2){width: 30%;}
.event-list>tbody>tr>td:nth-child(3){width: 70%;text-align: right;}

.logo{
	width: 50px;
	height: 50px;
	padding: 5px;
	border-radius: 50%;
}

.chosed-logo{
	width: 70px;
	height: 70px;
}

.add-form{
	margin-top: 0px;
}

.logo-row{
	width: 50px;
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

.page        {
  bottom:0; 
  position:absolute; 
  text-align:center;
  top:0;  
  width:100%; 
}

.ng-enter { 
	-webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in; 
}

/*----------------*\
 *   More page    *
\*----------------*/
.one-event{
	text-align: center;
}

.event-date h4{
	font-size: 30px;
}
.event-desc{
	font-size: 20px;
}

/*----------------*\
 *  Input Style   *
\*----------------*/
.inputfile {
	background: red;
	height: 70px;
	width: 70px;
	opacity: 0;
	position: absolute;
	cursor: pointer;
	z-index: 9999999;
}

.logo-label {
	border-radius: 50%;
	text-align: center;
	width: 70px;
	height: 70px;
	color: #fff;
	z-index: 9;
}
.logo-label i{margin-top: 5px;}


.event-title{
	font-size: 20px; 
	font-weight: bolder;
}    